@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    overflow-x: hidden;
}

header{
    display: block;
    margin: auto;
    background-color: rgba(0, 128, 0, 0.521);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 120px;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

section{
    display: block;
    width: 100%;
    text-align: center;
    
}

div{
    display: inline-block;
    margin: 30px;
    max-height: 100%;
    border: 1px solid rgba(0, 128, 0, 0.521);
    vertical-align: top;
    box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.37);
   
}

div>img{
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
}

div>details{
    display: inline-block;
    width: 300px;
    height: auto;
    text-align: justify;
    padding: 10px;
    cursor: pointer;
}

details>summary{
    font-size: 18px;
    padding: 10px;
}

div>details>blockquote{
    color: #777;
    font-style: italic;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  
}

footer{
    display: block;
    margin: auto;
    background-color: rgba(0, 128, 0, 0.521);
    color: white;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    
}